---
import BaseLayout from '../../layouts/BaseLayout.astro';
import { getEntry, render } from 'astro:content';

const entry = await getEntry('section', 'lab-life');
const data = entry?.data;
const { Content } = entry ? await render(entry) : { Content: null };
---

<BaseLayout title={data?.title} heading={data?.title} updated={data?.updated}>
  {
    Content && (
      <div class="prose prose-sm max-w-none">
        <Content />
      </div>
    )
  }
</BaseLayout>
